body {
    background: repeating-linear-gradient(135deg, #000, rgb(46, 46, 46) 1.25em, #0092b7 0, #016179 6.75em);
    text-align: center;
}


p {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: 2px 8px 2px black;
    width: fit-content;
}

.where {
    transition: ease 1s;
}

.where:hover {
    padding-bottom: 13px;
    text-shadow: -2px -8px 2px black;
    transform: rotateZ(-180deg);
    transition: ease 2s;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    color: rgb(233, 0, 0);
    text-shadow: 0px 0px 5px rgb(131, 2, 2);
    transition: ease 2s;
}

span {
    transition: ease 1s;
}

span:hover {
    text-shadow: 2px 2px 5px  rgb(131, 2, 2), -2px -2px 5px  rgb(131, 2, 2), 2px -2px 5px  rgb(131, 2, 2), -2px 2px 5px  rgb(131, 2, 2);
    transition: ease 1s;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 255, 255, .5);
    text-shadow: 8px 8px 1px rgb(255, 0, 0, 5);

}

.circle {
    display: inline-flex;
    width: 30vw;
    height: 50vh;
    background-color: white;
    border-radius: 50%;
    box-shadow: black;
}

.pins {
    margin-left: 2.5vw;
    margin-top: 2.5vh;
    display: inline-flex;
    width: 25vw;
    height: 45vh;
    background-image: repeating-linear-gradient(90deg, rgba(46, 46, 46, 1), rgba(46, 46, 46, 1) .25em, rgba(46, 46, 46, 0) 0,  rgba(46, 46, 46, 0) 11.125em);
    border-radius: 50%;
}

.pins2 {
    display: inline-flex;
    width: 25vw;
    height: 45vh;
    background-image: repeating-linear-gradient(180deg, rgba(46, 46, 46, 1), rgba(46, 46, 46, 1) .25em, rgba(46, 46, 46, 0) 0,  rgba(46, 46, 46, 0) 11em);
    border-radius: 50%;
}

.pointer {
    margin-top: 7vh;
    margin-left: 11.4vw;
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-bottom: 18vw solid red;
    transition: ease 58s;
}

.pointer:hover {
    transform: rotateZ(-360deg);
    transition: ease 2s;
}