body {
    background-image: repeating-linear-gradient(270deg, rgb(75, 75, 75), rgb(34, 34, 34));
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    font-size: 300px;
}

div {
    transition: 1s;
    border: 5px solid red;
    background-color: white;
}

div:hover {
    filter: blur(1000px);
    transition: ease 5s;
    opacity: 0;
}